USE [PERSONEL_KAYIT_DB]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 06.03.2022 21:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_kodu] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_ADMIN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONEL]    Script Date: 06.03.2022 21:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONEL](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[tc_no] [nchar](11) NOT NULL,
	[adi] [nvarchar](50) NOT NULL,
	[soyadi] [nvarchar](50) NOT NULL,
	[telefon_no] [nchar](11) NOT NULL,
	[cinsiyet] [bit] NOT NULL,
	[sehir] [nvarchar](50) NOT NULL,
	[adres] [nvarchar](50) NOT NULL,
	[dogum_yeri] [nvarchar](50) NOT NULL,
	[dogum_tarihi] [datetime] NOT NULL,
	[resim_base64] [nvarchar](max) NULL,
	[yaka] [bit] NOT NULL,
	[durum] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_PERSONEL] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_YAKA]    Script Date: 06.03.2022 21:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_YAKA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yaka_adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_YAKA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_ADMIN] ON 

INSERT [dbo].[TBL_ADMIN] ([id], [kullanici_kodu], [sifre]) VALUES (1, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[TBL_ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PERSONEL] ON 

SET IDENTITY_INSERT [dbo].[TBL_PERSONEL] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_YAKA] ON 

INSERT [dbo].[TBL_YAKA] ([id], [yaka_adi]) VALUES (1, N'Mavi')
INSERT [dbo].[TBL_YAKA] ([id], [yaka_adi]) VALUES (2, N'Beyaz')
SET IDENTITY_INSERT [dbo].[TBL_YAKA] OFF
GO
